<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.STATUS_BAR_COLOR" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Baybay"
        tools:targetApi="31">
        <activity
            android:name=".NewUI_AboutApp"
            android:exported="false" />

        <service android:name=".Z_BackgroundMusicService" />

        <activity
            android:name=".NewUI_ArtsCrafts"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".NewUI_Community"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".NewUI_Downloadable"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".NewUI_Gamemodes"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".NewUI_Learn"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".NewUI_Dashboard"
            android:exported="true"
            android:resizeableActivity="false"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".NewUI_Modes_Spelling"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".NewUi_Progress_Chart"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".NewUI_L2_Introduction"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".NewUI_Gameplay_History"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".NewUI_L6_Enhance_Reading"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".NewUI_L1_History"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".NewUI_L4_Rules"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".NewUI_L3_Characters"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".NewUI_L5_Handwriting"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".NewUI_Modes_Matching"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".NewUI_Modes_Quiz"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".NewUI_Chart_Letters"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".NewUI_Chart_Chapters"
            android:exported="false"
            android:screenOrientation="portrait" />
    </application>

</manifest>